<article>
  <header class="article-header">
    <h1>All Tracks</h1>
  </header>

  <div class="cards">

  <% @tracks.each do |track| %>
    <a href="/tracks/<%= track.id %>">
    <article class="card">
      <div class="card-image">
        <img src="https://placehold.it/400x300" alt="track cover">
      </div>
      </a>
      <div class="card-header">
        <%= track.song_title %>
      </div>
      <div class="card-copy">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.</p>
      </div>
    </article> 
    </a>
  <% end %>

  </div><!-- end cards -->
</article>