<h1>Add Track</h1>

<form method="post" action="/tracks">
  
  <div>
  <label for='song_title'>Song Title: </label>
  <input type="text" name='song_title' id='song_title'>
  </div>

  <div>
  <label for='author'>Author: </label>
  <input type='text' name='author' id='author'>
  </div>

  <div>
  <label for='url'>Url: </label>
  <input type='text' name='url' id='url'>
  </div>

  <input type='submit' value='submit'>

</form>