.header-site {
  // margin-bottom: 1em;
}

.section-page {
  @include outer-container;
  margin: 1em auto 2em auto;
}

.footer-site {
  @include outer-container;
}

.article-footer {
  text-align: center;
}

.vote {
  @include outer-container;
  padding: 1em 0;
  margin-bottom: 1.5em;
  border-bottom: thin solid #ddd;

  .vote-up, .vote-down {
    @include span-columns(3);
  }

  .vote-up {
    @include shift(3);
  }
}

.add-padding-large {
  padding: 2em;
}

.border-bottom {
  border-bottom: thin solid #ddd;
}
