<!DOCTYPE html>
<html lang="en">
<head>
  <title>Music Wall</title>
  <link href='//fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Titillium+Web:400,400italic,600italic,600,700,700italic,900,300italic,300,200italic,200' rel='stylesheet' type='text/css'>  
  <link rel="stylesheet" href="/stylesheets/application.css">
</head>
<body>

<header class="navigation header-site" role="banner">
  <div class="navigation-wrapper">
    <a href="/" class="logo">
      <img src="/images/logo-small.png" alt="Music Wall Logo">
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <% if session[:name] %>
          <li class='nav-link'><a href='/users/<%= session[:uid] %>'>Hey <%= session[:name] %>!</a></li>
          <li class="nav-link"><a href='/logout'>Logout</a></li>
        <% else %>
          <li class="nav-link"><a href="/">Login</a></li>
          <li class="nav-link"><a href="/signup">Signup</a></li>
        <% end %>
        <li class="nav-link">|</li>
        <li class="nav-link"><a href="/tracks">Tracks</a></li>
        <% if session[:name] %>
          <li class="nav-link"><a href="/tracks/new" class="button">New Track</a></li>
        <% end %>
      </ul>
    </nav>
    <div class="navigation-tools">
      <div class="search-bar">
        <form role="search" method='post' action='/search'>
          <input type="search" placeholder="Enter Search" />
          <button type="submit">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon.png" alt="Search Icon">
          </button>
        </form>
      </div>
    </div>
  </div>
</header>
  
<%= yield %>

<footer class="footer" role="contentinfo">
  <div class="footer-logo">
    <img src="/images/logo-big.png" alt="Music Wall Logo">
  </div>
  <div class="footer-links">
    <ul>
      <li><h3>Content</h3></li>
      <li><a href="javascript:void(0)">Tracks</a></li>
      <li><a href="javascript:void(0)">Add a Track</a></li>
    </ul>
    <ul>
      <li><h3>Check Us Out</h3></li>
      <li><a href="javascript:void(0)">About Us</a></li>
      <li><a href="javascript:void(0)">Twitter</a></li>
    </ul>
    <ul>
      <li><h3>Legal</h3></li>
      <li><a href="javascript:void(0)">Terms and Conditions</a></li>
      <li><a href="javascript:void(0)">Privacy Policy</a></li>
    </ul>
  </div>

  <hr>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, nostrum repudiandae saepe.</p>
</footer>

</body>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/javascripts/application.js"></script>

</html>
